<!DOCTYPE html>

<html>
    <head>
        <title>Warmth - {% block title %} Notes for women. !{% endblock %}</title>
    </head>

    <body>
        <div>
            {% block body_block %}{% endblock %}
        </div>

        <hr />

        <div>
            <ul>
            {% if user.is_authenticated %}
                <li><a href="/warmth/restricted/">Restricted Page</a></li>
                <li><a href="/warmth/logout/">Logout</a></li>
                <li><a href="/warmth/add_category/">Add a New Category</a></li>
            {% else %}
                <li><a href="/warmth/register/">Register Here</a></li>
                <li><a href="/warmth/login/">Login</a></li>
            {% endif %}

                <li><a href="/warmth/about/">About</a></li>
            </ul>
        </div>
    </body>
</html>
